.ant-otp {
    column-gap: 20px !important;
}

.ant-otp.ant-otp-lg {
    .ant-otp-input {
        height: 85px !important;
        width: 85px !important;
        font-size: 32px !important;
        font-weight: 600 !important;
    }
}
